---
layout: page
---

<div class="container" id="home">

  <section class="row sketch">
    <img src="/assets/img/sketch.png" alt="" />
    <h1 class="baseline">Rails Girls à Lyon<br>28 &amp; 29 novembre</h1>
  </section>

  <section class="row" id="intro">
      <p>
        Démystifiez le développement web et créons ensemble une application avec Ruby on Rails en seulement une journée&nbsp;!
      </p>
      <h2>Gratuit et ouvert à toutes et à tous</h2>
  </section>

  {% include signup_form.html %}

<!--  {% include partenaires.html %} -->
  {% include objectif.html %}
  {% include infos.html %}
  {% include programme.html %}
  {% include team.html %}

  <h2>Vous voulez sponsoriser ? Contactez-nous : <a href="mailto:railsgirly@lyonrb.fr">railsgirly@lyonrb.fr</a></h2>
  {% include newsletter_form.html %}

</div>
