---
layout: page
---

{% include header.html %}

<div class="row">
  <section id="schedule">
    <h2 id="day-1">Friday, June 22</h2>
    <table>
      <thead>
        <th>Time</th>
        <th>Talk</th>
        <th>Speaker</th>
      </thead>
      <tbody>
        <tr class="break breakfast">
          <td>8:30</td>
          <td>Registration and Breakfast</td>
          <td></td>
        </tr>
        <tr class="talk welcome">
          <td>9:15</td>
          <td>Welcome</td>
          <td></td>
        </tr>
        <tr class="talk">
          <td>9:30</td>
          <td><a href="/speakers/#talk_6">The Shy Developer Syndrome</a></td>
          <td>Dave Neary</td>
        </tr>
        <tr class="break">
          <td>10:00</td>
          <td>BREAK</td>
          <td></td>
        </tr>
        <tr class="talk">
          <td>10:30</td>
          <td><a href="/speakers/#talk_5">Why our Code Smells</a></td>
          <td>Brandon Keepers</td>
        </tr>
        <tr class="break">
          <td>11:00</td>
          <td>BREAK</td>
          <td></td>
        </tr>
        <tr class="talk">
          <td>11:30</td>
          <td><a href="/speakers/#talk_7">Constants in Ruby</a></td>
          <td>Xavier Noria</td>
        </tr>
        <tr class="break">
          <td>12:00</td>
          <td>BREAK</td>
          <td></td>
        </tr>
        <tr class="talk lunch">
          <td>12:30</td>
          <td><a href="/speakers/#talk_1">Transforming your data with Ruby and ActiveWarehouse-ETL</a></td>
          <td>Thibaut Barrère</td>
        </tr>
        <tr class="break lunch">
          <td>13:00</td>
          <td>LUNCH</td>
          <td></td>
        </tr>
        <tr class="talk">
          <td>14:00</td>
          <td><a href="/speakers/#talk_2">Sleep!</a></td>
          <td>Alex Koppel</td>
        </tr>
        <tr class="break">
          <td>14:30</td>
          <td>BREAK</td>
          <td></td>
        </tr>
        <tr class="talk">
          <td>15:00</td>
          <td><a href="/speakers/#talk_13">Modular & Reusable Front-end Code With
              HTML5, SASS and CoffeeScript</a></td>
          <td>Roy Tomeij</td>
        </tr>
        <tr class="break">
          <td>15:30</td>
          <td>BREAK</td>
          <td></td>
        </tr>
        <tr class="talk">
          <td>16:00</td>
          <td><a href="/speakers/#talk_12">Beyond the ORM</a></td>
          <td>Piotr Solnica</td>
        </tr>
        <tr class="break">
          <td>16:30</td>
          <td>BREAK</td>
          <td></td>
        </tr>
        <tr class="talk">
          <td>17:00</td>
          <td><a href="/speakers/#talk_11">Improving Interservice Communication</a></td>
          <td>Thorben Schröder</td>
        </tr>
        <tr class="break">
          <td>18:00</td>
          <td>End of Day 1</td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <h2 id="party">Dinner & Party at <a href="http://goo.gl/maps/5Qdi">the Koodeta</a><br/>
      <small>Friday, June 22 18:00 - 01:00</small>
    </h2>

    <img id="koodeta" src="/assets/img/koodeta-collage-500.png"/>

    <div class="row divider">
      <div class="wave"></div>
      <div class="ruby-small"></div>
      <div class="wave"></div>
    </div>

    <h2 id="day-2">Saturday, June 23</h2>
    <table>
      <thead>
        <th>Time</th>
        <th>Talk</th>
        <th>Speaker</th>
      </thead>
      <tbody>
        <tr class="break breakfast">
          <td>8:30</td>
          <td>Breakfast</td>
          <td></td>
        </tr>
        <tr class="talk welcome">
          <td>9:15</td>
          <td>Welcome</td>
          <td></td>
        </tr>
        <tr class="talk">
          <td>9:30</td>
          <td><a href="/speakers/#talk_14"><a href="/speakers#talk_14">I am Rails (and So Can You!)</a></td>
          <td>Joan Wolkerstorfer</td>
        </tr>
        <tr class="break">
          <td>10:00</td>
          <td>BREAK</td>
          <td></td>
        </tr>
        <tr class="talk">
          <td>10:30</td>
          <td><a href="/speakers/#talk_10">RubyMotion: Ruby In Your Pocket</a></td>
          <td>Laurent Sansonetti</td>
        </tr>
        <tr class="break">
          <td>11:00</td>
          <td>BREAK</td>
          <td></td>
        </tr>
        <tr class="talk">
          <td>11:30</td>
          <td><a href="/speakers/#talk_4">Message in the bottle</a></td>
          <td>Konstantin Haase</td>
        </tr>
        <tr class="break">
          <td>12:00</td>
          <td>BREAK</td>
          <td></td>
        </tr>
        <tr class="talk lunch">
          <td>12:30</td>
          <td><a href="/speakers/#talk_9">I Know Kung Fu (or Using Neo4j on Rails Without JRuby)!</a></td>
          <td>Rogelio Samour</td>
        </tr>
        <tr class="break lunch">
          <td>13:00</td>
          <td>LUNCH</td>
          <td></td>
        </tr>
        <tr class="talk">
          <td>14:00</td>
          <td>Lightning talks</td>
          <td></td>
        </tr>
        <tr class="talk">
          <td>14:30</td>
          <td><a href="/speakers/#talk_8">DCI, Diet for your models</a></td>
          <td>Marcin Olichwirowicz</td>
        </tr>
        <tr class="break">
          <td>15:00</td>
          <td>BREAK</td>
          <td></td>
        </tr>
        <tr class="talk">
          <td>15:30</td>
          <td><a href="/speakers/#talk_3">RATFT (Refactor All The F***ing Time)</a></td>
          <td>Anthony Eden</td>
        </tr>
        <tr class="talk">
          <td>16:00</td>
          <td>Closing</td>
          <td></td>
        </tr>
        <tr class="break">
          <td>16:30</td>
          <td>End of Day 2</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
{% include partners.html %}
