<footer>
  <div class="container">
    <div class="row">

      <div class="span4" id="social-icons">
        <a class="btn" id="twitter" href="https://twitter.com/railsgirly">
          <img src="/assets/img/twitter_icon.png" />
          Follow RailsGirLY
        </a>
      </div>

      <div class="span4" id="railsgirls-global">
        <a href="http://railsgirls.com">
          Get excited and make things !
        </a>
      </div>

      <div class="span4" id="lyonrb">
        <i class="coffee"></i>
        Vous habitez Lyon ?
        <a href="http://www.lyonrb.fr">
          Venez-nous rencontrer !
        </a>
      </div>
    </div>

  </div>
</footer>
