<header>
  <nav class="row">
    <div class="col-md-2 .col-md-offset-5">
      <a href="/" id="logo">
        <img src="/assets/img/logo.png" alt="RailsGirls Lyon" />
      </a>
    </div>
    <div class="pull-right">
      <a href="https://www.facebook.com/pages/Rails-Girls-Lyon/671578172911604" class="social-icon">
        <img src="/assets/img/facebook_icon.png" alt="Rails Girls Lyon sur Facebook" />
      </a>
      <a href="https://twitter.com/RailsGirLY" class="social-icon">
        <img src="/assets/img/twitter_icon.png" alt="@railsgirly sur Twitter" />
      </a>
    </div>
  </nav>
</header>
