<section class="row" id="infos">

  <h2>Infos pratiques</h2>

  <p>Cette journée est <b>ouverte à toute personne</b> ayant une connaissance basique en informatique. Aucune expérience particulière en web ou en programmation n'est requise, nous avons tous les niveaux.</p>

  <p>Cette formation s'adresse en priorité aux femmes, mais <b>les hommes sont également les bienvenus</b>, s'il reste de la place.</p>

  <p>Les participantes ont <b>besoin d'un ordinateur portable</b>, de curiosité et d'un brin de créativité !</p>

</section>
