<section class="row" id="infos">

  <h2>Infos pratiques</h2>

  <p>Cette journée est <b>ouverte à toute personne</b> ayant une connaissance basique en informatique. Aucune expérience particulière en web ou en programmation n'est requise, nous avons tous les niveaux.</p>

  <p>Cette formation s'adresse en priorité aux femmes, mais <b>les hommes sont également les bienvenus</b>, s'il reste de la place.</p>

  <p>Les participantes ont <b>besoin d'un ordinateur portable</b>, de curiosité et d'un brin de créativité !</p>

  <div class="col-md-4 col-xs-12">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2784.2542685491626!2d4.832633715353371!3d45.74604822261361!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4ea  4835f1030b%3A0xa66f77848d0b6752!2sTour+du+Web%2C+22+Rue+du+Professeur+Charles+Appleton%2C+69007+Lyon%2C+France!5e0!3m2!1sfr!2sfr!4v1457630417365" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

  <div class="col-md-8 col-xs-12">
    <h3>Comment s'y rendre ?</h3>
    <p>La journée RailsGirls se déroulera à <b>la Tour du Web</b>, 22 rue du professeur Charles Appleton, Lyon 7e.</p>
    <p>À deux pas du tramway T2, arrêt Centre Berthelot, ou métro Jean Macé.</p>
    <p>Plus d'informations sur <a href="http://www.tcl.fr" title="Transports en commun Lyonnais">tcl.fr</a>.</p>
  </div>

</section>
