<section class="row" id="infos">

  <h2>Infos pratiques</h2>

  <p>Cette journée est <b>ouverte à toute personne</b> ayant une connaissance basique en informatique. Aucune expérience particulière en web ou en programmation n'est requise, nous avons tous les niveaux.</p>

  <p>Cette formation s'adresse en priorité aux femmes, mais <b>les hommes sont également les bienvenus</b>, s'il reste de la place.</p>

  <p>Les participantes ont <b>besoin d'un ordinateur portable</b>, de curiosité et d'un brin de créativité !</p>

  <h3>Comment s'y rendre ?</h3>

  <div class="span4">
    <iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=La+Cord%C3%A9e+-+Libert%C3%A9+Guilloti%C3%A8re,+Cours+de+la+Libert%C3%A9,+Lyon&amp;aq=0&amp;oq=la+cordee+libertee&amp;sll=46.75984,1.738281&amp;sspn=8.762458,21.599121&amp;ie=UTF8&amp;hq=La+Cord%C3%A9e+-+Libert%C3%A9&amp;hnear=Cours+de+la+Libert%C3%A9,+69003+Lyon&amp;t=m&amp;ll=45.757351,4.842841&amp;spn=0.006295,0.006295&amp;output=embed"></iframe>
  </div>

  <div class="span8">
    <p>L'install party et la journée RailsGirls se dérouleront dans l'espace de co-working flambant neuf de <b><a href="http://www.la-cordee.net/la-cordee-liberte-guillotiere/">La&nbsp;Cordée&nbsp;Liberté-Guillotière</a></b>.</p>
    <p>Cet espace est situé <strong>61&nbsp;cours&nbsp;de&nbsp;la&nbsp;Liberté</strong>, dans le 3ème arrondissement.</p>
    <p>En <strong>tramway</strong>, il est à mi-chemin entre les arrets Liberté et Guillotière&nbsp;-&nbsp;Gabriel&nbsp;Peri.</p>
    <p>En <strong>métro</strong> prenez la ligne&nbsp;D, arrêt&nbsp;Guillotière.</p>
    <p>Si vous êtes perdu(e), vous pouvez toujours les appeler au 09&nbsp;81&nbsp;41&nbsp;37&nbsp;17.</p>
  </div>

</section>
