<section class="row" id="newsletter">
  <div class="span12">
    <form action="http://lyonrb.us7.list-manage1.com/subscribe/post?u=991e0a02460a1cc15600da669&amp;id=f9b0edff9f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
      <label for="mce-EMAIL">Restez informé(e) : inscrivez-vous à notre <strong>newsletter</strong> !</label>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Votre adresse email">
      <input type="submit" value="Je m'abonne" name="subscribe" id="mc-embedded-subscribe">
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_991e0a02460a1cc15600da669_f9b0edff9f" value=""></div>
    </form>
  </div>
</section>
