<section id="objectif">

  <h2>Notre objectif</h2>

  <p>Étendre à la ville de Lyon l’initiative de l’association <a href="http://www.railsgirls.com">Rails&nbsp;Girls</a> : <b>doter les femmes d’outils</b> leur permettant de (mieux) comprendre les nouvelles technologies et de mettre celles-ci à profit pour développer et porter leurs idées.</p>

  <p>En d’autres termes <b>rendre la technologie plus accessible</b> à celles qui aimeraient maîtriser un peu plus le développement web mais qui n’arrivent pas à trouver un moyen facile, communautaire et gratuit pour <b>apprendre et promouvoir la diversité</b> dans ce domaine.</p>

  <p>Depuis la première édition finlandaise, plus de 150 manifestations <a href="http://www.railsgirls.com">Rails&nbsp;Girls</a> ont déjà vu le jour un peu partout dans le monde.</p>

  <p><a href="http://www.railsgirls.com">Rails&nbsp;Girls</a> est désormais une <b>communauté internationale</b>.</p>

</section>
