<div class="row divider full">
  <div class="wave"></div>
  <div class="ruby-small"></div>
  <div class="wave"></div>
</div>

<div class="row" id="partners">
  <p>Our Partners</p>
  <a href="http://37signals.com"><img src="/assets/img/sponsors/37signals.png"></a>
  <a href="http://sogilis.com"><img src="/assets/img/sponsors/sogilis.png"></a>
  <a href="http://sharypic.com/"><img src="/assets/img/sponsors/sharypic-bw.png"></a>
  <a href="http://en.lyon-webcapital.org/"><img src="/assets/img/sponsors/lyon-capitale.png"></a>
</div>
