<section class="row" id="partenaires">

  <h2>Nos partenaires</h2>

  <div class="row">

    <div class="span3 offset2 partner-logo">
      <a href="http://simplon.co"><img src="/assets/img/simplon.png" alt="Simplon" /></a>
    </div>

    <div class="span2 partner-logo">
      <a href="http://www.europeanlab.com"><img src="/assets/img/european-lab.png" alt="European Lab" /></a>
    </div>

    <div class="span3 partner-logo">
      <a href="http://www.studio-hb.com"><img src="/assets/img/studiohb.png" alt="Studio HB" /></a>
    </div>
  </div>

  <div class="row buffer-top">

    <div class="span2 offset5 partner-logo partner-small">
      <p>Partenaire média</p>
      <a href="http://www.lacuisineduweb.com"><img src="/assets/img/lcdw.png" alt="La Cuisine du Web" /></a>
    </div>

  </div>

</section>
