<section class="row" id="partenaires">

  <h2>Nos partenaires</h2>

  <div class="row">

    <div class="span4 partner-logo">
      <a href="http://github.com"><img src="/assets/img/github.png" alt="GitHub" /></a>
    </div>

    <div class="span4 partner-logo">
      <a href="http://www.lewagon.org"><img src="/assets/img/lewagon.png" alt="Le Wagon" /></a>
    </div>

    <div class="span4 partner-logo">
      <a href="http://www.la-collection.com"><img src="/assets/img/lacollection.png" alt="La Collection" /></a>
    </div>

  </div>

  <div class="row buffer-top">

    <div class="span2 offset3 partner-logo">
      <p>Déjeuner assuré par</p>
      <a href="http://www.monsieurgourmand.com"><img src="/assets/img/mrgourmand.png" alt="Monsieur Gourmand" /></a>
    </div>

    <div class="span2 partner-logo">
      <p>Hébergé à</p>
      <a href="http://www.la-cordee.net"><img src="/assets/img/lacordee.png" alt="La Cordee" /></a>
    </div>

    <div class="span2 partner-logo">
      <p>Partenaire média</p>
      <a href="http://www.lacuisineduweb.com"><img src="/assets/img/lcdw.png" alt="La Cuisine du Web" /></a>
    </div>

  </div>

</section>
