<section class="row" id="partenaires">

  <h2>Nos partenaires</h2>

  <div class="offset1 span4 partner-logo">
    <a href="https://github.com"><img src="/assets/img/github.png" alt="GitHub" /></a>
  </div>

  <div class="offset2 span4 partner-logo">
    <a href="http://www.lewagon.org"><img src="/assets/img/lewagon.png" alt="Le Wagon" /></a>
  </div>

  <div class="offset2"></div>

  <div class="span3 partner-logo">
    <a href="http://www.monsieurgourmand.com"><img src="/assets/img/mrgourmand.png" alt="Monsieur Gourmand" /></a>
  </div>

  <div class="span3 partner-logo">
    <a href="http://www.la-cordee.net"><img src="/assets/img/lacordee.png" alt="La Cordee" /></a>
  </div>

  <div class="span3 partner-logo">
    <a href="http://gitparis.com"><img src="/assets/img/girlsintech.png" alt="Girls In Tech Paris" /></a>
  </div>

  <div class="span3 partner-logo">
    <a href="mailto:railsgirly@lyonrb.fr" style="line-height: 150px;">... et vous ?</a>
  </div>

</section>
