<section class="row" id="programme">

  <h2>Le programme</h2>

  <section id="install-party">
    <h3>L’install party</h3>
    <p>Exceptionnellement cette fois-ci, pas d'install party : rendez-vous directement à 9h jeudi !</p>
  </section>

  <section id="journee">
    <h3>La journée</h3> <time>samedi 29 novembre de 10h à 18h</time>
    <p>Elle se déroule sous la forme de divers ateliers, les participantes seront entourées d’une dizaine de coach issus de la communauté Ruby on Rails.</p>
    <p>Après quelques présentations éclaires, nous débuterons l’apprentissage du langage.</p>
    <p>Les participantes seront regroupées en <b>ateliers par petits groupes</b>, et guidées dans les premiers pas du développement logiciel.</p>
    <p>Les ateliers permettent aux participantes de vivre une première expérience dans l’art du développement logiciel et - guidées par les coaches - elles créeront <b>leur propre application web</b>&nbsp;!</p>
    <p>Le <b>déjeuner est offert</b> par <a href="http://www.europeanlab.com">European Lab</a>.</p>
  </section>

</section>
