<section class="row" id="programme">

  <h2>Le programme</h2>

  <section id="install-party">
    <h3>L’install party</h3> <time>vendredi 20 juin à partir de 18h</time>
    <p>Rails Girls Lyon commence par une install party.</p>
    <p>Au programme : rencontre entre les participantes et les coaches, installation de Ruby et Rails sur les ordinateurs de tout le monde.</p>
    <p>Nous rassemblerons ensuite tous les coachs autour d'un diner afin de les préparer au mieux pour le lendemain.</p>
  </section>

  <section id="journee">
    <h3>La journée</h3> <time>samedi 21 juin de 10h à 18h</time>
    <p>Elle se déroule sous la forme de divers ateliers, les participantes seront entourées d’une dizaine de coach issus de la communauté Ruby on Rails.</p>
    <p>Après quelques présentations éclaires, nous débuterons l’apprentissage du langage.</p>
    <p>Les participantes seront regroupées en ateliers par petits groupes, et guidées dans les premiers pas du développement logiciel.</p>
    <p>Les ateliers permettent aux participantes de vivre une première expérience dans l’art du développement software et - guidées par les coaches - elles créeront leur propre application web !</p>
  </section>

  <section id="soiree">
    <h3>La soirée</h3> <time>samedi 21 juin à partir de 19h</time>
    <p>C'est la fête de la musique, il y a des groupes qui jouent dans tout Lyon. L'occasion d'échanger de manière informelle et conviviale devant un concert et autour d'un verre.</p>
    <p>On compte sur les lyonnais(e)s pour faire découvrir cette belle fête populaire à nos amis venus de loin.</p>
  </section>

</end>
