<div class="span12">
  <h2><img src="/assets/img/speakers-ribbon.png"></h2>
</div>
<div class="slideshow span12">
  <div class="previous button">
    <a href=""></a>
  </div>
  <div id="speakers">
    <div class="speaker">
      <img src="/assets/img/speakers/thibaut.png" alt="Thibaut Barrère">
      <span class="speaker-info author">Thibaut Barrère</span>
      <span class="divider"></span>
      <span class="speaker-info github">Github: <a href="http://github.com/thbarl">@thbar</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/thibaut_barrere">@thibaut_barrere</a></span>
      <span class="speaker-info company">Company: <a href="http://www.logeek.fr">LoGeek</a></span>
    </div>
    <div class="speaker">
      <img src="/assets/img/speakers/alex.png" alt="Alex Koppel">
      <span class="speaker-info author">Alex Koppel</span>
      <span class="divider"></span>
      <span class="speaker-info github">Github: <a href="http://github.com/arsduo">@arsduo</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/arsduo">@arsduo</a></span>
      <span class="speaker-info company">Company: <a href="http://www.6wunderkinder.com">6Wunderkinder</a></span>
    </div>
    <div class="speaker">
      <img src="/assets/img/speakers/anthony.png" alt="Anthony Eden">
      <span class="speaker-info author">Anthony Eden</span>
      <span class="divider"></span>
      <span class="speaker-info github">Github: <a href="http://github.com/aeden">@aeden</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/aeden">@aeden</a></span>
      <span class="speaker-info company">Company: <a href="http://dnsimple.com">DNSimple</a></span>
    </div>
    <div class="speaker">
      <img src="/assets/img/speakers/konstantin.png" alt="Konstantin Haase">
      <span class="speaker-info author">Konstantin Haase</span>
      <span class="divider"></span>
      <span class="speaker-info github">Github: <a href="http://github.com/rkh">@rkh</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/konstantinhaase">@konstantinhaase</a></span>
      <span class="speaker-info company">Company: <a href="http://travis-ci.org">Travis CI</a></span>
    </div>
    <div class="speaker">
      <img src="/assets/img/speakers/brandon.png" alt="Brandon Keepers">
      <span class="speaker-info author">Brandon Keepers</span>
      <span class="divider"></span>
      <span class="speaker-info github">Github: <a href="http://github.com/bkeepers">@bkeepers</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/bkeepers">@bkeepers</a></span>
      <span class="speaker-info company">Company: <a href="http://github.com">Github</a></span>
    </div>
    <div class="speaker">
      <img src="/assets/img/speakers/dave.png" alt="Dave Neary">
      <span class="speaker-info author">Dave Neary</span>
      <span class="divider"></span>
      <span class="speaker-info github">Github: <a href="http://github.com/dneary">@dneary</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/nearyd">@nearyd</a></span>
      <span class="speaker-info company">Company: <a href="http://redhat.com">Red Hat</a></span>
    </div>
    <div class="speaker">
      <img src="/assets/img/speakers/xavier.png" alt="Xavier Noria">
      <span class="speaker-info author">Xavier Noria</span>
      <span class="divider"></span>
      <span class="speaker-info github">Github: <a href="http://github.com/fxn">@fxn</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/fxn">@fxn</a></span>
      <span class="speaker-info company">Company: <i>Independent</i></span>
    </div>
    <div class="speaker">
      <img src="/assets/img/speakers/marcin.png" alt="Marcin Olichwirowicz">
      <span class="speaker-info author smaller">Marcin Olichwirowicz</span>
      <span class="divider"></span>
      <span class="speaker-info github">Github: <a href="http://github.com/rodzyn">@rodzyn</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/brodzyn">@brodzyn</a></span>
      <span class="speaker-info company">Company: <a href="http://applicake.com">Applicake</a></span>
    </div>
    <div class="speaker">
      <img src="/assets/img/speakers/rogelio.png" alt="Rogelio Samour">
      <span class="speaker-info author">Rogelio Samour</span>
      <span class="divider"></span>
      <span class="speaker-info github">Github: <a href="http://github.com/therubymug">@therubymug</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/therubymug">@therubymug</a></span>
      <span class="speaker-info company">Company: <a href="http://hashrocket.com">Hashrocket</a></span>
    </div>
    <div class="speaker">
      <img src="/assets/img/speakers/laurent.png" alt="Laurent Sansonetti">
      <span class="speaker-info author">Laurent Sansonetti</span>
      <span class="divider"></span>
      <span class="speaker-info github">Github: <a href="http://github.com/lrz">@lrz</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/lrz">@lrz</a></span>
      <span class="speaker-info company">Company: <a href="http://www.hipbyte.com/">HipByte</a></span>
    </div>
    <div class="speaker">
      <img src="/assets/img/speakers/thorben.png" alt="Thorben Schröder">
      <span class="speaker-info author">Thorben Schröder</span>
      <span class="divider"></span>
      <span class="speaker-info github">Github: <a href="http://github.com/walski">@walski</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/walski">@walski</a></span>
      <span class="speaker-info company">Company: <a href="http://engineyard.com">Engine Yard</a></span>
    </div>
    <div class="speaker">
      <img src="/assets/img/speakers/piotr.png" alt="Piotr Solnica">
      <span class="speaker-info author">Piotr Solnica</span>
      <span class="divider"></span>
      <span class="speaker-info github">Github: <a href="http://github.com/solnic">@solnic</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/_solnic_">@_solnic_</a></span>
      <span class="speaker-info company">Company: <a href="http://codebenders.com">Code Benders</a></span>
    </div>
    <div class="speaker">
      <img src="/assets/img/speakers/roy.png" alt="Roy Tomeij">
      <span class="speaker-info author">Roy Tomeij</span>
      <span class="divider"></span>
      <span class="speaker-info github">Github: <a href="http://github.com/roytomeij">@roytomeij</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/roy">@roy</a></span>
      <span class="speaker-info company">Company: <a href="http://80beans.com">80beans</a></span>
    </div>
    <div class="speaker">
      <img src="/assets/img/speakers/joan.png" alt="Joan Wolkerstorfer">
      <span class="speaker-info author">Joan Wolkerstorfer</span>
      <span class="divider"></span>
      <span class="speaker-info github">Github: <a href="http://github.com/joanwolk">@joanwolk</a></span>
      <span class="speaker-info twitter">Twitter: <a href="http://twitter.com/joanwolk">@joanwolk</a></span>
      <span class="speaker-info company">Company: <a href="http://mediapeers.com">Mediapeers</a></span>
    </div>
  </div>
  <div class="next button">
    <a href=""></a>
  </div>
  <div class="footer">
    <a href="/schedule">Schedule</a>
    -
    <a href="/speakers">Talks & Speakers details</a>
  </div>
</div>
