<article>
    <div class="span6">
  <header class="row">
      <h3><span></span>af83</h3>
      <div class="span6">
        <span class="sponsor-info github">Github: <a href="http://github.com/AF83">@af83</a></span>
        <span class="sponsor-info twitter">Twitter: <a href="http://twitter.com/af83">@af83</a></span>
      </div>
    </div>
    <a href="http://www.af83.fr"><img src="/assets/img/sponsors/af83-simple.png" class="span2 avatar"></a>
  </header>
  <div class="row">
    <div class="span8 sponsor-text">
      af83 is an innovative company with offices in Paris and San Francisco, 
      specializing in experience design, technology and communication. 
      Our front line is helping companies design and develop next-generation digital 
      services and transform their users into digital natives. We are a cheerful, 
      driven bunch of 50+ developers, designers, engineers, and project managers, 
      striving to make our clients, colleagues and partners happy - really happy 
      not just somewhat content.<br/>
      We’ve been building awesome things every day since 2006, with loads of 
      nice code and cool Open Source tech, because it’s in our DNA. We heavily
      use Ruby, C and Server Side JavaScript, with NoSQL solutions. We like 
      playing with shiny new stuff while making earthquake, tsunami and even 
      Cthulhu-resistant architectures.<br/>
      We have a gazillion projects on GitHub 
      https://github.com/af83, some of which are actually useful! You can also
      find us on our developers’ blog http://dev.af83.com and, of course, on 
      our website http://af83.com.
    </div>
  </div>
</article>

<br/>
<article>
    <div class="span6">
  <header class="row">
      <h3><span></span>Tigerlily</h3>
      <div class="span6">
        <span class="sponsor-info github">Github: <a href="http://github.com/Tigerlily">@Tigerlily</a></span>
        <span class="sponsor-info twitter">Twitter: <a href="http://twitter.com/Tigerlily">@Tigerlily</a></span>
      </div>
    </div>
    <a href="http://www.Tigerlily.com"><img src="/assets/img/sponsors/tigerlily-simple.png" class="span2 avatar"></a>
  </header>
  <div class="row">
    <div class="span8 sponsor-text">
      Headquartered in Paris, Tigerlily provides the best platform to acquire, 
      engage and monetize your customers on social media. Tigerlily Platform provides 
      brands and agencies the following advantages:

      Tools to manage over conversations and branding across social media
      <ul>
        <li>Increased web exposure, through social features such as like, comments, share and invitations</li>
        <li>Increased revenue with monetisation tools.</li>
        <li>Measurable ROI for your social marketing efforts</li>
      </ul>

    </div>
  </div>
</article>

<br/>
<article>
    <div class="span6">
  <header class="row">
      <h3><span></span>Official.fm</h3>
      <div class="span6">
        <span class="sponsor-info github">Github: <a href="http://github.com/Official.fm">@officialfm</a></span>
        <span class="sponsor-info twitter">Twitter: <a href="http://twitter.com/Official.fm">@officialfm</a></span>
      </div>
    </div>
    <a href="http://www.official.fm"><img src="/assets/img/sponsors/official-fm.png" class="span2 avatar"></a>
  </header>
  <div class="row">
    <div class="span8 sponsor-text">
      Official.fm provides tools for artists & labels to help them easily promote and manage their music online. Launched in August 2010, Official.fm is headquartered in Geneva, Switzerland and has offices in New York City, San Francisco and Paris. Official.fm is dedicated to solving some of thebiggest pain points in the management and promotion of music online.

      The following speaks directly to the needs of artists and labels :<br/>

      <ul>
        <li>Centralize - Manage multiple artists with a single login. </li>
        <li>Collaborate - By enabling multiple users to access a single artist’s workspace, you can easily share the workload with your bandmates, marketing team, publicist and more.</li>
        <li>Unlimited – No limits on plays and downloads. No barriers between your music and your success.</li>
        <li>Customize – Control how your music is being presented. Each track or album uploaded comes with a slick public or private promotional page and embeddable HTML5 players.</li>
        <li>Publish – Simply drag & drop multiple tracks to upload music to your Official.fm account. Then sync to your YouTube and Soundcloud channels and push the music in one go. </li>
        <li>Share – Once you decide to share, you can do so on any website or device. Fans are one click away from listening to and spreading your music.</li>
        <li>Stats – Utilize advanced statistics to know where, who, how and when. Collect e-mail addresses for each download and export them to your mailing list.</li>
      </ul>
    </div>
  </div>
</article>

<br/>
<article>
    <div class="span6">
  <header class="row">
      <h3><span></span>Liquid Concept</h3>
      <div class="span6">
        <span class="sponsor-info github">Github: <a href="http://github.com/liquidconcept">@liquidconcept</a></span>
        <span class="sponsor-info twitter">Twitter: <a href="http://twitter.com/liquidconcept">@liquidconcept</a></span>
      </div>
    </div>
    <a href="http://www.liquid-concept.ch"><img src="/assets/img/sponsors/liquid-concept.png" class="span2 avatar"></a>
  </header>
  <div class="row">
    <div class="span8 sponsor-text">
      Liquid Concept is a development agency specialized in web applications and based in Lausanne, Switzerland.
      We use agile development methods to deliver high quality web applications for companies who wish that technology 
      is the keystone of their business model and want to think in a human-centric way with a huge quality in user experience (UX).<br/>
      We have been specialized in Ruby & Rails development since 2005 and use the SCRUM methodology
      which is heavily loaded with good practices in software development such as automated testing
      and code review. Although we are on the technical side of the Force, it is very important for
      us to approach our work in a human-centric way every day.<br/>
      The company was set up by Yann Lugrin, Julien Henzelin and Olivier Amblet end 2003. We train 
      tomorrow’s developers and minds from apprenticeship onwards. Today Ludovic, Néville, and Simon
      have joined the team. <br/>
      From the shores of Lake Geneva, we help companies become more robust, stable and future-proof,
      thanks to continued integration, code review and knowledge transmission. We work in a relaxed
      open space with a cool and avant-garde atmosphere, including space to share inspiration, deep
      involvement in projects, flexible schedules and 2 afternoons a month free for personal projects.<br/>
    </div>
  </div>
</article>


<br/>
<article>
    <div class="span6">
  <header class="row">
      <h3><span></span>Engine Yard</h3>
      <div class="span6">
        <span class="sponsor-info github">Github: <a href="http://github.com/engineyard">@engineyard</a></span>
        <span class="sponsor-info twitter">Twitter: <a href="http://twitter.com/engineyard">@engineyard</a></span>
      </div>
    </div>
    <a href="http://www.engineyard.com"><img src="/assets/img/sponsors/engineyard.png" class="avatar" style="padding-left:60px" width="50px"></a>
  </header>
  <div class="row">
    <div class="span8 sponsor-text">
      Engine Yard is the leading Platform as a Service (PaaS), empowering software application innovation more rapidly, 
      easily and cost effectively. With deep technical expertise, powerful infrastructure orchestration, strong support 
      of the open source community, and world-class service, Engine Yard provides a complete commercial grade solution that 
      enables developers to focus on creating great applications, instead of managing their platform. Thousands of customers 
      in 58 countries, from explosive-growth Web startups to Fortune 500 enterprises, rely on Engine Yard to leverage the 
      cloud for competitive advantage. Headquartered in San Francisco, Calif., Engine Yard is backed by Benchmark Capital, 
      New Enterprise Associates and Amazon.com.
    </div>
  </div>
</article>

<br/>
<article>
    <div class="span6">
  <header class="row">
      <h3><span></span>Ruby France</h3>
      <div class="span6">
        <span class="sponsor-info github">Github: <a href="http://github.com/rubyfrance">@rubyfrance</a></span>
        <span class="sponsor-info twitter">Twitter: <a href="http://twitter.com/rubyfrance">@rubyfrance</a></span>
      </div>
    </div>
    <a href="http://www.rubyfrance.org"><img src="/assets/img/sponsors/rubyfrance.png" class="span2 avatar"></a>
  </header>
  <div class="row">
    <div class="span8 sponsor-text">
      Ruby France is a french association dedicated to the Ruby programming language, 
      its major applications (like Ruby on Rails) and its ecosystem.
      It's why they wanted to be part of that event and support Ruby Lugdunum.
    </div>
  </div>
</article>

<br/>
<article>
    <div class="span6">
  <header class="row">
      <h3><span></span>Gandi</h3>
      <div class="span6">
        <span class="sponsor-info github">Github: <a href="http://github.com/gandi">@gandi</a></span>
        <span class="sponsor-info twitter">Twitter: <a href="http://twitter.com/gandi_net">@gandi_net</a></span>
      </div>
    </div>
    <a href="http://www.gandi.net"><img src="/assets/img/sponsors/gandi.png" class="span2 avatar"></a>
  </header>
  <div class="row">
    <div class="span8 sponsor-text">
      Gandi is a domain name registrar and innovative cloud hosting company. 
      We are different from other companies in this market in that we set respect 
      for customer rights as our first priority. We are committed to protecting 
      customer privacy under applicable law, and to respecting due process.

      We offer an alternative approach to that of our competitors, spending no money 
      on advertising, and instead supporting the community of people working on 
      technology that enables the Internet for business, but also for the free and 
      unrestricted sharing of information, and for promoting the respect of individual 
      and citizen rights. We rely on your words to promote our services: the recommendation 
      of satisfied customers is a far more reliable basis for doing business than marketing claims. 

    </div>
  </div>
</article>

<br/>
<article>
    <div class="span6">
  <header class="row">
      <h3><span></span>Microsoft</h3>
      <div class="span6">
        <span class="sponsor-info twitter">Twitter: <a href="http://twitter.com/microsoft">@microsoft</a></span>
      </div>
    </div>
    <a href="http://www.microsoft.com"><img src="/assets/img/sponsors/microsoft.png" class="span2 avatar"></a>
  </header>
  <div class="row">
    <div class="span8 sponsor-text">
      Founded in 1975, Microsoft is a well known software leader. 
      The company develop and sale a wide range of software solutions, 
      accessories and services for the professional and public market.
    </div>
  </div>
</article>


<br/>
<article>
    <div class="span6">
  <header class="row">
      <h3><span></span>DNSimple</h3>
      <div class="span6">
        <span class="sponsor-info github">Github: <a href="http://github.com/DNSimple">@dnsimple</a></span>
        <span class="sponsor-info twitter">Twitter: <a href="http://twitter.com/DNSimple">@dnsimple</a></span>
      </div>
    </div>
    <a href="http://www.dnsimple.com"><img src="/assets/img/sponsors/dnsimple-simple.png" class="span2 avatar"></a>
  </header>
  <div class="row">
    <div class="span8 sponsor-text">
      DNSimple is a hosted DNS service that you can use to manage your domain 
      names. Plans start at $3 per month for up to 10 managed domains. You can
       also use DNSimple to register domain names and purchase SSL 
       certificates. With top-notch customer support, one-click services and a 
       robust API, DNSimple makes managing your DNS simple and painless. We 
       love our customers and are always here to help. 
       <br/>Sign up now and get a free 30 day trial that you may cancel at any time.
    </div>
  </div>
</article>

<br/>
<article>
    <div class="span6">
  <header class="row">
      <h3><span></span>Pierlis</h3>
      <div class="span6">
        <span class="sponsor-info github">Github: <a href="http://github.com/ook">@ook</a></span>
        <span class="sponsor-info twitter">Twitter: <a href="http://twitter.com/pierlisHQ">@pierlisHQ</a></span>
      </div>
    </div>
    <a href="http://www.pierlis.com"><img src="/assets/img/sponsors/pierlis.png" class="span2 avatar"></a>
  </header>
  <div class="row">
    <div class="span8 sponsor-text">
      Pierlis is a parisian web agency specialized in web application development and MacOSX and Iphone apps.
    </div>
  </div>
</article>


<br/>
<article>
    <div class="span6">
  <header class="row">
      <h3><span></span>Belighted</h3>
      <div class="span6">
        <span class="sponsor-info github">Github: <a href="http://github.com/Belighted">@belighted</a></span>
        <span class="sponsor-info twitter">Twitter: <a href="http://twitter.com/Belighted">@belighted</a></span>
      </div>
    </div>
    <a href="http://www.belighted.com"><img src="/assets/img/sponsors/belighted.png" class="span2 avatar"></a>
  </header>
  <div class="row">
    <div class="span8 sponsor-text">
      Belighted has been offering a modern approach to the creation of custom web applications since 2008.
      Using the most recent web standards and its own project management methodology based on the agile principles, 
      Belighted designs applications and websites that combine reliability and ergonomics.
      With its offices located in Brussels (Belgium), Lille and Paris (France), 
      Belighted is a leading french-speaking company in the Ruby on Rails software development sector.
    </div>
  </div>
</article>

<article>
    <div class="span6">
  <header class="row">
      <h3><span></span>Hashrocket</h3>
      <div class="span6">
        <span class="sponsor-info github">Github: <a href="http://github.com/hashrocket">@hashrocket</a></span>
        <span class="sponsor-info twitter">Twitter: <a href="http://twitter.com/hashrocket">@hashrocket</a></span>
      </div>
    </div>
    <a href="http://www.hashrocket.com"><img src="/assets/img/sponsors/hashrocket.png" class="span2 avatar"></a>
  </header>
  <div class="row">
    <div class="span8 sponsor-text">
      Hashrocket is a Ruby on Rails design & development shop.
      We're located on the Florida beaches and in downtown Chicago. 
      We specialize in test-driven development, pair programming, 
      user-centered design, elegant code, and on-site Ruby on Rails training. We're the best at what we do.

    </div>
  </div>
</article>

<br/>
<article>
    <div class="span6">
  <header class="row">
      <h3><span></span>Dimelo</h3>
      <div class="span6">
        <span class="sponsor-info github">Github: <a href="http://github.com/Dimelo">@dimelo</a></span>
        <span class="sponsor-info twitter">Twitter: <a href="http://twitter.com/Dimelo">@dimelo</a></span>
      </div>
    </div>
    <a href="http://www.dimelo.com"><img src="/assets/img/sponsors/dimelo.png" class="span2 avatar"></a>
  </header>
  <div class="row">
    <div class="span8 sponsor-text">
      DIMELO is the European leader of SocialCRM: we have implemented more
      than 150 profitable conversations for blue-chip companies. Our software suite
      and ROI-centric approach help brands leverage social media and put profitable
      conversations at the very heart of their marketing and CRM processes, through
      their websites, email channel and social networks (Facebook, Twitter…).<br/>
      Our software suite serves two main goals:<br/>
      <ul>
        <li>1. Reduce customer service costs while maximizing customer satisfaction,</li>
        <li>2. Create brand preference / faster loyalty while managing (e-)reputation.</li>
      </ul>
      They trust us: Bouygues Telecom, SNCF, Danone, Total, Peugeot, Barclays
    </div>
  </div>
</article>

<br/>
<article>
    <div class="span6">
  <header class="row">
      <h3><span></span>Github</h3>
      <div class="span6">
        <span class="sponsor-info github">Github: <a href="http://github.com/github">@github</a></span>
        <span class="sponsor-info twitter">Twitter: <a href="http://twitter.com/github">@github</a></span>
      </div>
    </div>
    <a href="http://www.github.com"><img src="/assets/img/sponsors/github.png" class="span2 avatar"></a>
  </header>
  <div class="row">
    <div class="span8 sponsor-text">
      GitHub is the best place to share code with friends, co-workers,
      classmates, and complete strangers. Over a million people use GitHub to build amazing things together.

      With the collaborative features of GitHub.com, our desktop and mobile apps, 
      and GitHub Enterprise, it has never been easier for individuals and teams to write better code, faster. 
    </div>
  </div>
</article>

<br/>
<article>
    <div class="span6">
  <header class="row">
      <h3><span></span>Studio Melipone</h3>
      <div class="span6">
        <span class="sponsor-info github">Github: <a href="http://github.com/studiomelipone">@studiomelipone</a></span>
        <span class="sponsor-info twitter">Twitter: <a href="http://twitter.com/studiomelipone">@studiomelipone</a></span>
      </div>
    </div>
    <a href="http://www.studiomelipone.com"><img src="/assets/img/sponsors/studiomelipone.png" class="span2 avatar"></a>
  </header>
  <div class="row">
    <div class="span8 sponsor-text">
      Rock&Roll Web Development Ruby On Rails Agency near Paris.
    </div>
  </div>
</article>

<br/>
<article>
    <div class="span6">
  <header class="row">
      <h3><span></span>Pragmatic bookshelf</h3>
      <div class="span6">
        <span class="sponsor-info twitter">Twitter: <a href="http://twitter.com/pragprog">@pragprog</a></span>
      </div>
    </div>
    <a href="http://www.pragprog.com"><img src="/assets/img/sponsors/pragprog.png" class="span2 avatar"></a>
  </header>
  <div class="row">
    <div class="span8 sponsor-text">
      The Pragmatic Programmers is an agile publishing and training company. 
      We’re here because we want to improve the lives of developers. We do this by 
      creating timely, practical books and working with the Pragmatic Studio to 
      create the best developer training there is. The stuff we produce is timely 
      and relevant because it is written by programmers for programmers. 
    </div>
  </div>
</article>
