<section id="sponsors" class="span4">
  <div class="package ruby">
    <img src="/assets/img/ribon-ruby-sponsors.png" class="ribon">
    <div id="af83-logo" class="logo"><a href="http://af83.com/"></a></div>
  </div>
  <div class="package gold">
    <img src="/assets/img/ribon-gold-sponsors.png" class="ribon">
    <div id="tigerlily-logo" class="logo"><a href="http://www.tigerlilyapps.com/"></a></div>
    <div id="official-fm-logo" class="logo">
      <a href="http://official.fm/">
        <img src="/assets/img/sponsors/official-fm.png"/>
      </a>
    </div>
    <div id="liquid-concept-logo" class="logo">
      <a href="http://liquid-concept.ch/">
        <img src="/assets/img/sponsors/liquid-concept.png"/>
      </a>
    </div>
    <div id="engineyard-logo" class="logo">
      <a href="http://engineyard.com/">
        <img src="/assets/img/sponsors/engineyard.png"/>
      </a>
    </div>
    <div id="rubyfrance-logo" class="logo">
      <a href="http://rubyfrance.org/">
        <img src="/assets/img/sponsors/rubyfrance.png"/>
      </a>
    </div>
    <div id="gandi-logo" class="logo">
      <a href="http://gandi.net/">
        <img src="/assets/img/sponsors/gandi.png"/>
      </a>
    </div>
    <div id="microsft-logo" class="logo">
      <a href="http://microsoft.com/">
        <img src="/assets/img/sponsors/microsoft.png"/>
      </a>
    </div>
  </div>
  <div class="package silver">
    <img src="/assets/img/ribon-silver-sponsors.png" class="ribon">
    <div id="dnsimple-logo" class="logo"></div>
    <div id="pierlis-logo" class="logo">
      <a href="http://pierlis.com/">
        <img src="/assets/img/sponsors/pierlis.png"/>
      </a>
    </div>
    <div id="belighted-logo" class="logo">
      <a href="http://belighted.com/">
        <img src="/assets/img/sponsors/belighted.png"/>
      </a>
    </div>
    <div id="hashrocket-logo" class="logo">
      <a href="http://hashrocket.com/">
        <img src="/assets/img/sponsors/hashrocket.png"/>
      </a>
    </div>
    <div id="dimelo-logo" class="logo">
      <a href="http://dimelo.com/">
        <img src="/assets/img/sponsors/dimelo.png"/>
      </a>
    </div>
    <div id="github-logo" class="logo">
      <a href="http://github.com/">
        <img src="/assets/img/sponsors/github.png"/>
      </a>
    </div>
  </div>
  <div class="package bronze">
    <img src="/assets/img/ribon-bronze-sponsors.png" class="ribon">
    <div id="studiomelipone-logo" class="logo">
      <a href="http://studiomelipone.eu/">
        <img src="/assets/img/sponsors/studiomelipone.png"/>
      </a>
    </div>
    <div id="pragprog-logo" class="logo">
      <a href="http://pragprog.com/">
        <img src="/assets/img/sponsors/pragprog.png"/>
      </a>
    </div>
  </div>
  <p class="sponsoring-link">
    <a href="/assets/documents/rulu_sponsoring_2012.pdf">Interested in sponsoring RuLu ?</a>
  </p>
</section>
