<section class="row" id="team">

  <h2>L'équipe</h2>

  <div class="span3">
    <img src="/assets/img/camille.jpg" class="avatar">
    <span class="member-name">Camille Appert</span>
  </div>

  <div class="span3">
    <img src="/assets/img/mathilde.jpg" class="avatar">
    <span class="member-name">Mathilde Aglietta</span>
  </div>

  <div class="span3">
    <img src="/assets/img/mike.jpg" class="avatar">
    <span class="member-name">Michael Baudino</span>
  </div>

  <div class="span3">
    <img src="/assets/img/lyonrb.jpg" class="avatar no-border">
    <span class="member-name">Lyon.rb</span>
  </div>

</section>
