@font-face {
	font-family: 'CargoD';
	src: url('../fonts/202624_0_0.eot');
	src: url('../fonts/202624_0_0.eot?#iefix') format('embedded-opentype'),
	  url('../fonts/202624_0_0.woff') format('woff'),
	  url('../fonts/202624_0_0.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
	letter-spacing: .1em;
  color: #1A1412;
  background-color: #edebe1;
	background-image: url(../img/bg_pattern.png);
}

html {
  min-height: 100%;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),inset 0 0 25px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),inset 0 0 25px rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),inset 0 0 25px rgba(0,0,0,0.15);
}

a {
  text-decoration: underline;
  color: #D00D04;
}

a:hover {
  color: #D00D04;
}

header.top {
  background: url('../img/blog/header_bg.png') repeat-y;
  height: 74px;
  margin-bottom: 80px;
  color: white;
}

header.top h1 {
  font-family: "CargoD", "Lucida Grande", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 10px;
  font-size: 21px;
  margin: 6px 0 5px 0;
}

header.top h1 a {
  color: white;
  text-decoration: none;
}

header.top h1 + span {
  font-size: 16px;
}

header.top .name {
  font-family: "CargoD", "Lucida Grande", Arial, sans-serif;
  color: white;
  text-align: center;
}


header.top .date {
  position: relative;
  top: 25px;
  text-align: center;
  padding-left: 10px;
}

header.top .date p {
  font-family: "CargoD", "Lucida Grande", Arial, sans-serif;
  font-size: 21px;
}


header.top .left {
  vertical-align: top;
  margin-top: 18px;
  width: 34%;
  display: inline-block;
}

header.top .logo {
  width: 30%;
  display: inline-block;
  position: relative;
  top: -5px;
}

header.top .right {
  width: 34%;
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: right;
}

header.top nav ul {
  list-style-type: none;
}

header.top nav ul li {
  display: inline-block;
  font-family: "Lucida Grande", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 144px;
  text-align: right;
  margin-left: 20px;
  margin-top: 15px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.45),0 -1px 0 rgba(255, 255, 255, 0.15);
  color: #AAA;
}

header.top nav ul li a {
  color: #fff;
  text-decoration: none;
}

header.top {
  text-align: right;
}

header.top #get-tickets {
  width: 940px;
  z-index: 1000;
  position: absolute;
  top: 70px;
  text-align: right;
}

h1.page-title {
  font-family: "CargoD", "Lucida Grande", Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 5px;
}

h1.page-title a {
  color: black;
  text-decoration: none;
}

#blog header h1 {
  color: #D00D04;
  font-family: "CargoD", "Lucida Grande", Arial, sans-serif;
  font-weight: normal;
  background: url('../img/blog/stitches.png') repeat-x bottom left;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#blog aside {
  text-align: center;
}

#blog .content {
  font-size: 16px;
  line-height: 1.7em;
  color: #444;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

#blog .content p {
  font-size: 16px;
  line-height: 1.5em;
  margin: 0 0 1.5em;
}

#blog .content h2 {
  margin-top: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  text-transform: uppercase;
}

#blog .content h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  color: gray;
  border-bottom: 1px dotted gray;
}

.post-separator {
  height: 3px;
  background: url('../img/spacer.png') repeat-x bottom left;
  margin: 20px 0 20px 0;
}

.post-separator .blue-line {
  width: 220px;
  height: 2px;
  background: url('../img/blog/blue_spacer.png') repeat-x bottom left;
}

footer {
  margin-top: 10px;
  padding-top: 20px;
  margin-bottom: 50px;
  background: url('../img/blog/blue_spacer.png') repeat-x top left;
}

.paginator div:last-child {
  text-align: right;
}

.paginator a {
  color: #D00D04;
  text-decoration: none;
  font-size: 22px;
}

.paginator img {
  vertical-align: middle;
}

.paginator div:first-child a span {
  position: relative;
  top: 2px;
  left: 10px;
  display: inline-block;
}

.paginator div:last-child a span {
  position: relative;
  top: 2px;
  left: -8px;
  display: inline-block;
}

footer #twitter {
  text-align: center;
}

footer p {
  font-size: 16px;
  line-height: 1.6em;
}

footer p a {
  color: #D00D04;
}

footer h2 {
  position: relative;
  font-family: "CargoD", "Lucida Grande", Arial, sans-serif;
  font-size: 20px;
}

footer h2 .title-line {
  display: inline-block;
  width: 100px;
  height: 100%;
  background: red;
}

footer h3 {
  color: #444;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  margin: 8px 0;
}

.inactive {
  color: #ccc;
}


blockquote {
  border-left: 2px solid #D00D04;
  font-size: 13px;
  color: #777;
  line-height: .8em;
}

.twitter-share-button {
  margin-top: 10px;
  margin-right: -45px;
  float: right;
}

code {
  border: none;
}


.speaker {
  display: inline-block;
  width: 170px;
  margin: 1em;
}

.speaker .speaker-info {
  display: block;
  text-align: center;
}

.speaker .speaker-info a {
  color: #D00D04;
}

.speaker .speaker-info.author {
  font-weight: bold;
  margin-top: 10px;
  font-size: 90%;
}
j
.speaker .speaker-info.author.smaller {
  font-size: 90%;
}

.speaker .speaker-info.github,
.speaker .speaker-info.company,
.speaker-info.twitter {
  font-size: 10px;
  line-height: 1.5em;
}
