html {
  background: #fefefc url('../img/scratches.png') top center;

}
body {
  background: url('../img/border-top.png') top repeat-x;
  font-family: Helvetica, Arial, sans-serif;
  color: #666;
  font-size: 21px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
::-webkit-selection { background: #bf341c; color: white; }
   ::-moz-selection { background: #bf341c; color: white; }
        ::selection { background: #bf341c; color: white; }
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color:#1b1b1b;
  font-family: 'Cabin Sketch', cursive;
  letter-spacing: -1px;
}
h1 {
  font-size: 42px;
}
h2 {
  font-size: 32px;
}
h3, h4, h5, h6 {
  font-size: 21px;
}
a {
  text-decoration: none;
  color: #1c6d9a;
}
a:hover {
  text-decoration: underline;
}
p, label {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

head nav {
  text-align: center;
}
header nav #logo {
  width: 106px;
  height: 81px;
  margin: 10px auto auto 20px;
  text-align: center;
  float: left;
}
header .social-icon {
  text-decoration: none;
}
header .social-icon img {
  margin-top: 1em;
  opacity: 0.8;
}
header .social-icon img:hover {
  opacity: 1;
}

#home .row.sketch {
  margin: 50px auto 30px auto;
  text-align: center;
}
#home h1, #home h2 {
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
  padding: 50px 0 25px;
}
#home h1 {
  background: url('../img/chalk-underline.png') bottom center no-repeat;
}
#home p {
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}
#home p a.label-info {
  font-size:30px;
  padding: 10px;
  line-height: 50px;
  margin-right: 20px;
  color: #fff !important;
  text-decoration: none !important;
}
#home p a.label-info:hover {
  background-color: #0c8ad2;
}
#home .icon-envelope {
  vertical-align: baseline;
}

#home #intro h2 {
  padding-top: 25px;
}
#home #intro p, #home #intro label {
  font-size: 30px;
  line-height: 40px;
  text-align: center;
}

#home #newsletter {
  background: #bf341c;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
}
#home #newsletter form {
  margin-bottom: 0;
}
#home #newsletter label {
  color: white;
  font-size: 16px;
  line-height: 1em;
  margin: 0;
  margin-right: 4em;
}
#home #newsletter input {
  padding: 0.8em;
  border: none;
}
#home #newsletter input[type="submit"] {
  background: white;
  color: #bf341c;
  font-weight: bold;
}

#home #team {
  text-align: center;
}
#home #team .avatar {
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  border: solid 1px #1b1b1b;
  height: 128px;
  width: 128px;
}
#home #team .avatar.no-border {
  border: none;
}
#home #team .member-name {
  display: block;
  margin-bottom: 20px;
}

#home #programme h3 {
  display: inline-block;
  font-size: 24px;
  margin: 1.5em 0 1em;
}
#home #programme time {
  font-style: italic;
  font-size: 18px;
  color: #999;
}

#partenaires .partner-logo, #partenaires .partner-logo p {
  text-align: center;
}

#partenaires .partner-callout {
  width:250px;
  height:130px;
  border: 2px dashed #666;
  border-radius: 30px;
  display:block;
  text-align: center;
  line-height:125px; /* ~magic~ */

}

#partenaires .partner-callout a {
  vertical-align:middle;
  font-size:130%;
  color:#444;
}

#partenaires .buffer-top {
  padding-top:40px;
}

#home #infos h3 {
  margin: 1.5em 0;
}

footer {
  font-size: 12px;
  background-color: #fff;
  height: 40px;
  padding-top: 10px;
  text-align: center;
  -moz-box-shadow: 0px 0px 5px 0px #656565;
  -webkit-box-shadow: 0px 0px 5px 0px #656565;
  -o-box-shadow: 0px 0px 5px 0px #656565;
  box-shadow: 0px 0px 5px 0px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
}
footer #social-icons {
  text-align:left;
}
footer #social-icons #twitter {
  padding-left:25px;
  position: relative;
  font-weight: bold;
}
footer #social-icons #twitter img {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 4px;
}
footer #railsgirls-global a {
  font-size: 15px;
  font-family: 'Cabin Sketch', cursive;
  color: #bf341c;
  padding-top: 5px;
}
footer #lyonrb {
  text-align:right;
  color: #000;
}
footer #lyonrb a {
  color: #bf341c;
  font-weight: bold;
}
footer #lyonrb i.coffee {
  background: url('../img/coffee.png') left no-repeat;
  padding-right: 25px;
}


.row.page {
  padding-top: 30px;
  margin-bottom: 50px;
}
.row.page h2 {
  margin-bottom: 20px;
}
.row.page > p {
  font-size: 12px;
}
