html {
  background: #fefefc url('../img/scratches.png') top center no-repeat;

}
body {
  background: url('../img/border-top.png') top repeat-x;
  font-family: Helvetica, Arial, sans-serif;
  color: #1b1b1b;
  font-size: 21px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color:#1b1b1b;
  font-family: 'Cabin Sketch', cursive;
  letter-spacing: -1px;
}

/* Check Cabin Sketch web font : http://www.google.com/webfonts#UsePlace:use/Collection:Cabin+Sketch */

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

h3, h4, h5, h6 {
  font-size: 21px;
}

footer p {
  font-size: 15px;
}

footer .tagline {
  font-size: 15px;
  font-family: 'Cabin Sketch', cursive;
  color: #bf341c;
  padding-top: 5px;
}

a {
  text-decoration: none;
  color: #1c6d9a;
}

a:hover {
  text-decoration: underline;
}

head nav {
  text-align: center;
}
header nav #logo {
  width: 106px;
  height: 81px;
  margin: 10px auto auto 20px;
  text-align: center;
  float: left;
}
header nav ul {
  list-style-type: none;
  margin-top: 30px;
  width: 400px;
}
header nav ul li {
  background: url('../img/stitches.png') top repeat-x;
  padding-top: 10px;
}
header nav ul.left {
  float: left;
}
header nav ul.right {
  float: right;  
}
header nav ul.left li {
  text-align: right;  
  float: right;
}
header nav ul.right li {
  text-align: left;
  float: left;
}
header nav ul li a {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  background: url('../img/stitches.png') bottom repeat-x;
  padding: 10px 20px;
  text-decoration: none !important;
}
header p.blog_link {
  font-size: 15px;
  font-family: 'Cabin Sketch', cursive;
  color: #bf341c;
  text-transform: uppercase;
  background: url('../img/nav-blog-sticker.png') no-repeat;
  display: block;
  position: fixed;
  top: 50px;
  right: 0;
  width: 97px;
  height: 30px;
  padding-top: 6px;
}
header p.blog_link a{
  background: url('../img/comment-icon.png') left no-repeat;
  padding-left: 25px;
  margin-left: 10px;
}

.home .row.sketch {
  margin: 50px auto 30px auto;
}
.home h1.baseline {
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
  padding-bottom: 30px;
  background: url('../img/chalk-underline.png') bottom center no-repeat;
}
.home .span12 p {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.home .span12 p a.label-info {
  font-size:30px;
  padding: 10px;
  line-height: 50px;
  margin-right: 20px;
  color: #fff !important;
  text-decoration: none !important;
}
.home .span12 p a.label-info:hover {
  background-color: #0c8ad2;
}
footer {
  background-color: #fff;
  height: 40px;
  padding-top: 10px;
  text-align: center;
  -moz-box-shadow: 0px 0px 5px 0px #656565;
  -webkit-box-shadow: 0px 0px 5px 0px #656565;
  -o-box-shadow: 0px 0px 5px 0px #656565;
  box-shadow: 0px 0px 5px 0px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=5);
}
footer .container {
  position: relative;
  font-size: 12px;
}
footer .container div:first-child {
  text-align:left;
}
footer .container div:last-child {
  text-align:right;
  color: #000;
}
footer .container div:last-child a {
  color: #bf341c;
  font-weight: bold;
}
footer .container div:last-child i {
  background: url('../img/coffee.png') left no-repeat;
  padding-left: 20px;
}
footer .twitter {
  padding-left:25px;
}
footer .twitter img {
  position: absolute;
  top: 6px;
  left: 25px;
}
.row.page {
  padding-top: 30px;
  margin-bottom: 50px;
}
.row.page h2 {
  margin-bottom: 20px;
}
.row.page > p {
  font-size: 12px;
}
