<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">

  <link href="../assets/css/wufoo/structure.css" rel="stylesheet">
  <link href="../assets/css/wufoo/form.css" rel="stylesheet">
  <link href="../assets/css/wufoo/theme.css" rel="stylesheet">

  <!-- JavaScript -->
  <script src="../assets/js/wufoo.js"></script>

  <!--[if lt IE 10]>
  <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20067061-3']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
  </script>
	<title>Ruby Lugdunum 2012</title>
</head>
<body>
	{{content}}
</body>
</html>
