<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="/assets/css/bootstrap.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/assets/css/styles.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/assets/css/rcarousel.css" type="text/css" media="screen">
  <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700' rel='stylesheet' type='text/css'>
	<script src="/assets/js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
  <script src="/assets/js/jquery.scrollTo-1.4.2-min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/assets/js/jquery.localscroll-1.2.7-min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/assets/js/twitter.js" type="text/javascript" charset="utf-8"></script>
  <script src="/assets/js/jquery.ui.core.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/assets/js/jquery.ui.widget.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/assets/js/jquery.ui.rcarousel.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/assets/js/app.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20067061-3']);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
  </script>
	<title>Rails Girls Lyon 2013</title>
</head>
<body>
	<div class="container">
		{{content}}
	</div>
  {% include footer.html %}
</body>
</html>
