<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Rails Girls Lyon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" media="screen">
    <link href="http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700" rel="stylesheet" type="text/css">
    <script src="/assets/js/jquery-2.2.4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/js/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/js/jquery.ui.rcarousel.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/js/jquery.localScroll.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/assets/js/app.js" type="text/javascript" charset="utf-8"></script>

  </head>
  <body>
    <div class="container">
      {% include header.html %}
      {{content}}
      {% include footer.html %}
    </div>

  <script src="//use.typekit.net/cqt8jan.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-20067061-4']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <!-- {{site.github.repository_url}} , is_user_page: {{site.github.is_user_page}} is_project_page: {{site.github.is_project_page}} , url: {{site.github.url}} -->
</body>
</html>
